
.chatProfileImage{
    margin: 2pt;
    border-radius: 5px;
    border-style: solid;
    border-width: 2pt;
    border-color: #0B9EF0;
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.chatProfileImageMessage{
    border-radius: 5px;
    margin-right: 2pt;
    margin-top: 2pt;
    margin-bottom: 2pt;
    object-fit: cover;
    border-style: solid;
    border-width: 2pt;
    border-color: #0B9EF0;
    width: 30px;
    height: 30px;
}
.username{
    display: inline;
    font-weight: bold;
}

.user{
    max-height: 55px;
    color:rgb(212, 212, 212);
    height: auto;
}
.userScroll{
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}
.userScroll::-webkit-scrollbar {
    display: none;
}
.messageFragmentMessage{
    height: 60px;
    max-height: 36px;
    width: 75vw;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
}
.messageFragmentMessage::-webkit-scrollbar {
    display: none;
}

.usersidebar{
    background-color: #404040;
}
.user:nth-of-type(even){
    background-color: #555555;
}
.user:nth-of-type(odd){
    background-color: #333333;
}
.container-fluid.h-100 {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: hidden;
    background-color: rgb(85, 85, 85);
}
.optionsButton{
    margin: auto;
    width: 50px;
    border-width: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #0B9EF0;
    color: #fff;
    height: 50px;
}
.menuButton{
    margin: 0 0 0 15px;
    height: 32px;
    width: auto;
    border-width: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #0B9EF0;
    color: #fff;
    border-radius: 5px;
}
.menuButton:hover{

    color:#0B9EF0;
    background-color: #b0d8ee;
}
.menuButton:active{
    border:1px solid #0B9EF0;
    color:#0B9EF0;
    background-color: #b0d8ee;
}
.leaveButton{
    margin: auto;
    height: 50px;
    width: 100%;
    border-width: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #c03333;
    color: #fff;
}
.leaveButton:hover
{
    background-color: #fab9be;
    color:#D32240;
}
.leaveButton:active
{
    outline:none;
    border:1px solid #D32240;
    background-color: #fab9be;
    color:#D32240;
}
.chatroomTitle{
    font-size: 25pt;
    font-weight: bold;
}
.titlebar{
    background-color: #7a7a7a;
    height: 10%;
}
.messageBox{
    overflow-y: auto;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;

}
.messageBox::-webkit-scrollbar {
    display: none;
}
.messageBox p{
    margin-left: 10pt;
    margin-right: 10pt;
    padding-right: 5pt;
    padding-left: 10pt;
    border-radius: 10px;
    color: rgb(212, 212, 212);
    background-color: rgb(39, 39, 39);

}
.messageFragmentBox::-webkit-scrollbar {
    display: none;
}
.messageFragmentBox{
    overflow-y: auto;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.messageFragmentBox p{
    margin-left: 10pt;
    margin-right: 10pt;
    padding-right: 5pt;
    padding-left: 10pt;
    border-radius: 10px;
    color: rgb(212, 212, 212);
    background-color: rgb(77, 136, 101);
}
.chatBox{
    display: flex;
    justify-content: center;
    margin-left: 10pt;
    margin-right: 10pt;
}
.chatInput{
    border-radius: 10px;
    height: auto;
    height: 60px;
    width: 85%;
    background-color: rgb(114, 114, 114);
    color:rgb(212, 212, 212);
}
.backButton{
    margin: auto;
    height: 50px;
    width: 100%;
    border-width: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #70cf7e;
    color: #fff;
}
.backButton:hover
{
    background-color: #c6f2d3;
    color:#70cf7e;
}
.backButton:active{
    border:1px solid #70cf7e;
    background-color: #c6f2d3;
    color:#70cf7e;
}
.sendButton{
    margin: auto;
    height: 50px;
    width: 10%;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:rgb(77, 136, 101);
    color: #fff;
}
.sendButton:hover
{
    background-color: #c6f2d3;
    color:rgb(77, 136, 101);
}
.sendButton:active{
    border:1px solid rgb(77, 136, 101);
    background-color: #c6f2d3;
    color:rgb(77, 136, 101);
}

